body {
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 5rem;
  height: auto;

}

.nav-user {
  text-transform: capitalize;
  cursor: pointer;
}

.hover-text-danger:hover {
  color: #dc3545 !important;
}

.btn-round {
  border-radius: 50px;
  padding: auto;
}